

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;    
}

.contact_form {
    width: 70%;
    margin: 50px auto;
    border: 1px solid darkgray;
    padding: 30px;
    border-radius: 5px;
}

.photo {
    width: 10%;
}